[CONFIG]
# Configuration file for example_download_and_rasterize folder

# Name of the project
project: example_download_and_rasterize

# Path to the workspace containing the project
workspace: /data/scratch/globc/bonassies/workspace/swot_for_flood/examples

# Path to the data folder
data_path: %(workspace)s/%(project)s/data

# Path to the AOI file
aoi: %(workspace)s/%(project)s/aux_data/EMSR692_aois_V2.gpkg

#  EPSG code of the CRS of the project
CRS= EPSG:32635

# CRS of the AOI file
aoi_crs= EPSG:4326

# First and last time of the data to download
first_time= 2023-09-15
last_time= 2023-09-16

# nodes to use for the download (optional)
nodes = 8

# Type of SWOT data to download (optional)
download_type: PIXC

# Passes of interest to download (optional)
passes = [402, 417]

# Tile names to rasterize (optional)
tile_names_selection: [[417_224L], [402_085L]]

# variables to rasterize (optional)
# example: variables: ['height', 'water_mask', 'water_flag', 'water_class', 'water_confidence', 'water_frac', 'water_frac_uncertainty']

# GDAL environment variables for rasterization (optional)
GDAL_NUM_THREADS = 10
GDAL_CACHEMAX = 160000

# Boolean to activate automatic download, rasterize and save when loading the project python file (optional)
do_download = False
do_make_gpkg = False
do_make_tiff = False   

