[CONFIG]
# Configuration file for example_download_and_rasterize folder

# Name of the project
project: Chinon

# Path to the workspace containing the project
workspace: /data/scratch/globc/bonassies/workspace/swot_for_flood/examples

# Path to the data folder
data_path: /data/scratch/globc/bonassies/data

# Path to the AOI file
aoi: %(workspace)s/%(project)s/aux_data/aoi.gpkg

floodmask_path: %(workspace)s/%(project)s/aux_data/FloodedArea_32630.gpkg
controlmask_path: %(workspace)s/%(project)s/aux_data/ControlArea_32630.gpkg
esa_worldcover_path: %(workspace)s/%(project)s/aux_data/ESA_WorldCover_10m_merged_32630_clip.tif

#  EPSG code of the CRS of the project
CRS= 32630

# CRS of the AOI file
aoi_crs= 4326

# First and last time of the data to download
first_time= 2023-01-01
last_time= 2025-06-01

# nodes to use for the download (optional)
nodes = 8

# Type of SWOT data to download (optional) can be PIXC, LakeSP, Nodes
download_type: PIXC

# Passes of interest to download (optional)
passes = [113]

# Tile names to rasterize (optional)
tile_names_selection: [[113_237L, 113_238L]]

# List dry and flood dates
list_dry_dates: [2024-08-03, 2024-08-24, 2024-09-14, 2024-10-05]
list_flood_dates: [2024-03-31]

# variables to rasterize (optional)
# default: variables: [sig0, coherent_power, incidence, gamma_tot, gamma_SNR, gamma_est, power_plus_y, power_minus_y, interf_real, interf_imag, height, classification, bright_land_flag]

# Pixel resolution of the rasterized data (optional)
# pixel_resolution = 10

# GDAL environment variables for rasterization (optional)
GDAL_NUM_THREADS = 10
GDAL_CACHEMAX = 160000

# Boolean to activate automatic download, rasterize and save when loading the project python file (optional)
# It can be deactivate if everything has been already downloaded and rasterized
do_download = False
do_make_gpkg = False
do_make_tiff = False   

